/*
 * main.css
 * Created by Larry Tseng on 4/28/21.
 */

.section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.wrapper{
    width: 500px; 
    overflow-x:scroll;     
    white-space: wrap;
}

.slide{
    background: rgb(173, 54, 54);
    height: 800px;
    display: inline-block;
    width: 800px;
}

#main-content {
    margin-top: 3rem;
}
